<md-dialog ng-cloak class="md-padding">
  <div layout="row" layout-align="end center">
    <md-button ng-click="forgotPassword.hide()" class="md-icon-button md-warn">
      <md-icon class="material-icons">close</md-icon>
    </md-button>
  </div>
  <form name="forgotPassword.form" layout="column">
    <md-input-container md-no-float>
      <input type="email" ng-model="forgotPassword.email" ng-change="forgotPassword.error = ''" placeholder="Email" md-auto-focus required/>
    </md-input-container>
    <div layout="row" layout-align="center center">
      <span class="md-caption formError" ng-if="forgotPassword.error">{{ forgotPassword.error }}</span>
      <span class="md-caption formSuccess" ng-if="forgotPassword.success">Password reset email sent successfully!</span>
    </div>
    <div layout="column">
      <md-button class="md-primary md-raised" ng-click="forgotPassword.submit( forgotPassword.email )">Submit</md-button>
    </div>
  </form>
</md-dialog>